model/
lib/scripts/__pycache__/
lib/docker/__pycache__/
lib/scripts/.env
lib/docker/.env
.env
virtualenv/
qdrant_storage/
lib/docker/florence-2/
lib/docker/qwen/
lib/docker/labse/
qwen-on-api/__pycache__/
chatbot-ui/.next/
chatbot-ui/node_modules/
