googlesearch-python==1.2.4
nltk==3.8.1
rake_nltk==1.0.6
boilerpy3==1.0.7
qdrant_client
trl
torch
accelerate
transformers
gradio
einops
timm
pillow
sqlalchemy
sentence_transformers
bitsandbytes
python_dotenv